@import "style_variables";


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn_animation($first_color, $second_color) {
  margin-bottom: 10px;
  padding: 5px;
  background-color: transparent;
  border: 2px solid $first_color;
  color: $first_color;
  width: 55%;
  height: 40px;
  min-width: 80px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;

  span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: $first_color;
    z-index: -1;
    left: calc((var(--n) - 1) * 25%);
    transform: translateY(200%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
  }

  &:hover {
    color: $second_color;
  }
  &:hover span {
    transform: translateY(0) scale(2);
  }

  span:nth-child(1) {
    --n: 1;
  }
  span:nth-child(2) {
    --n: 2;
  }
  span:nth-child(3) {
    --n: 3;
  }
  span:nth-child(4) {
    --n: 4;
  }
}

body,
html,
#main_cont {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $darkText;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #e0d6ba;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
input {
  text-align: left;
  padding-left: 0.5rem;
  background-color: $secondaryColor;
}
#loading_img_box {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
#loading_img {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $darkText;
  border-left: 16px solid lightblue;
  border-bottom: 16px solid #ffffff;
  border-right: 16px solid $primaryColor;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#main_cont {
  @include flexCenter();
  min-height: 575px;
  background-image: url(../img/login_background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#main_box {
  display: flex;
  height: 80%;
  width: 60%;
  min-height: 575px;
  min-width: 645px;
  position: relative;
}

#left_box {
  height: 100%;
  width: 35%;
  color: #fff;
  background-color: red;
  border-radius: 20px 0 0 20px;
  background-color: $transparentPrimaryColor;
  color: #fff;

  &:hover {
    background-image: linear-gradient(
      $primaryColor,
      rgb(9, 230, 223),
      $primaryColor
    );
  }
}
#left_box.shrink {
  animation: shrink 0.35s ease-out;

  #sign_msg {
    letter-spacing: -1px;
  }
}
@keyframes shrink {
  50% {
    width: 30%;
  }
  100% {
    width: 35%;
  }
}
#big_logo_cont {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  height: 55%;

  svg {
    height: 80%;
  }
}
#wave_back, #wave_mid, #wave_front{

  fill-opacity: 1;
}
.tumbling {
  animation: tumbling 1.5s linear;
}
@keyframes tumbling {
  20% {
    transform: rotate(15deg);
    transform-origin: 40% 50%;
  }
  40% {
    transform: rotate(-15deg);
    transform-origin: 40% 50%;
  }
  60% {
    transform: rotate(15deg);
    transform-origin: 40% 50%;
  }

  80% {
    transform: rotate(-15deg);
    transform-origin: 40% 50%; 
  }
  100%{
    transform: rotate(0deg);
    transform-origin: 40% 50%;
  }
}
#big_logo {
  z-index: 60;
}

.brand_name {
  @include flexCenter();
  flex-direction: column;
  font-size: 2em;
  font-family: "Arvo", serif;
  line-height: 10px;
  width: 100%;
  height: 10%;
  p {
    padding: 5px;
    font-family: "Lato", sans-serif;
    white-space: nowrap;
  }
}
#toggle_cont {
  @include flexCenter();
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 35%;
  text-align: center;
}
#toggle_sign_log_btn_box {
  width: 100%;
  height: 100%;
}
.left_btn {
  @include btn_animation(#fff, $primaryColor);
}

#ereaser {
  height: 100%;
  position: absolute;
  left: 35%;
  width: 0%;
  border-radius: 0 20px 20px 0;
  background-color: transparent;
  z-index: 50;
  pointer-events: none;

  span {
    display: block;
    width: 0%;
    height: 33.33%;
    background-color: $darkText;
  }
  span:nth-child(1) {
    --n: 1;
    background-color: $darkText;
    border-radius: 0 20px 0 0;
  }
  span:nth-child(2) {
    --n: 2;
    background-color: lightblue;
  }
  span:nth-child(3) {
    --n: 3;
    background-color: #fff;
    border-radius: 0 0 20px 0;
  }
}
#ereaser.erease {
  animation: erease 2s linear;

  span {
    animation: ereaseSpan 1s linear;
    animation-delay: calc((var(--n) - 1) * 0.1s);
  }
}
@keyframes erease {
  10% {
    width: 65%;
  }
  90% {
    width: 65%;
  }
  100% {
    width: 0;
  }
}
@keyframes ereaseSpan {
  40% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.to_log_in.hide,
.to_sign_up.hide {
  display: none;
}

#right_box {
  @include flexCenter();
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
  background-color: $transparentSecondaryColor;
  border-radius: 0 20px 20px 0;

  &:hover {
    background-color: $secondaryColor;
  }
}

header {
  p {
    margin: 0.5rem 0;
  }
}
main {
  @include flexCenter();
  width: 100%;
}

#log_form,
#sign_form {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
}
.form_group {
  position: relative;
  width: 80%;
  display: flex;
  margin-top: 2rem;

  &[data-icon]::before {
    content: attr(data-icon);
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    padding: 0.2em;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    background-color: $primaryColor;
    border-radius: 10px 0 0 10px;

    /*Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
  }
}
.cust_input {
  width: 100%;
  border: 2px solid $borderColor;
  border-left: none;
  border-radius: 0 10px 10px 0;
  color: $errorColor;

  &:focus + .border_focus,
  &:hover + .border_focus,
  &:valid + .border_focus,
  &:not(:placeholder-shown) + .border_focus {
    transition: 0.5s;
    transform: translate(-1rem, -2.3rem);
    padding-left: 3px;
  }

  &:hover {
    border-color: $primaryColor;
  }

  &:focus {
    outline: none;
    border-color: $primaryColor;
  }

  &:valid {
    border-color: $primaryColor;
    outline: none;
    color: $primaryColor;
  }
}
.border_focus {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.rigth_btn {
  @include btn_animation($primaryColor, #fff);
  width: 60%;
  min-width: 220px;
}
#log_in_btn {
  width: 20%;
  margin-top: 3rem;
}
#sign_up_btn {
  width: 20%;
  margin-top: 2rem;
}
#sign_or_continue {
  @extend .or_continue;
  margin-top: 0;
}
.sign_right_btn {
  @extend .rigth_btn;
  width: 30%;
}
footer {
  width: 100%;
  @include flexCenter();
  flex-direction: column;
}
.or_continue {
  width: 100%;
  &::before,
  &::after {
    content: "";
    border-top: 1px solid #3f3a5c;
    width: 6rem;
    height: 100%;
    display: inline-block;
  }
}
.error_msg {
  font-size: 0.9em;
  color: $errorColor;
}
.success_msg {
  @include flexCenter();
  font-size: 1.2em;
  background-color: $secondaryColor;
  color: $succesColor;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}
.success_msg.sign_success {
  border: 2px solid $primaryColor;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  animation: show_succ_sign_msg 2s ease-in-out;
}

@keyframes show_succ_sign_msg {
  25% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 768px) {
  #main_cont {
    @include flexCenter();
    flex-direction: column;
  }
  #main_box {
    min-width: 300px;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #left_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0;
    height: 15%;
  }
  #left_box.shrink {
    animation: none;
  }
  #big_logo_cont {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 100%;
    }
  }
  .brand_name {
    @include flexCenter();
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    p {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
  #sign_msg {
    display: none;
  }
  #toggle_cont {
    width: 25%;
    height: 100%;
    @include flexCenter();
  }

  #toggle_sign_log_btn {
    font-size: 0.9em;
    word-spacing: 0.2em;
    border-radius: 50px;
    min-width: 0;
    width: 4em;
    height: 4em;
    margin-bottom: 0;
    padding: 0;
    overflow-wrap: break-word;
  }
  #right_box {
    height: 85%;
    width: 100%;
    border-radius: 0;
    font-size: 1.5em;
    overflow-y: scroll;

    &:hover,
    &:focus {
      background-color: $transparentSecondaryColor;
    }
  }
  header {
    font-size: 0.7em;
    p {
      font-size: 0.9rem;
    }
  }
  #log_in_btn {
    margin-top: 40px;
  }
  footer {
    p {
      margin: 10px 0;
    }
    padding-bottom: 20px;
  }
  #ereaser {
    left: 0;
    height: 85%;
    top: 15%;
    width: 100%;

    span {
      width: 0;
    }
    span:nth-child(1) {
      background-color: $darkText;
      border-radius: 0;
    }
    span:nth-child(2) {
      background-color: lightblue;
    }
    span:nth-child(3) {
      background-color: #fff;
      border-radius: 0 0 10px 10px;
    }
  }
  #ereaser.erease {
    animation: none;
  }
}
