#wave_front {
  -webkit-animation: waveFront 5s infinite linear;
          animation: waveFront 5s infinite linear;
  fill-opacity: 1;
}

@-webkit-keyframes waveFront {
  25% {
    d: path("M132.05,38.78 C256.99,59.50 335.44,110.81 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  50% {
    d: path("    M132.05,38.78 C251.92,129.56 408.80,21.01 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  75% {
    d: path("M132.05,38.78 C256.99,59.50 335.44,110.81 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  100% {
    d: path("M132.05,38.78 C251.69,5.24 327.31,180.89 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
}

@keyframes waveFront {
  25% {
    d: path("M132.05,38.78 C256.99,59.50 335.44,110.81 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  50% {
    d: path("    M132.05,38.78 C251.92,129.56 408.80,21.01 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  75% {
    d: path("M132.05,38.78 C256.99,59.50 335.44,110.81 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
  100% {
    d: path("M132.05,38.78 C251.69,5.24 327.31,180.89 491.19,37.79 L486.11,282.53 L135.44,289.44 Z");
  }
}

#wave_mid {
  -webkit-animation: waveMid 5s infinite linear;
          animation: waveMid 5s infinite linear;
  fill-opacity: 1;
}

@-webkit-keyframes waveMid {
  25% {
    d: path("M138.48,79.24 C221.44,84.18 357.44,-37.20 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  50% {
    d: path("M133.97,40.75 C333.75,-31.27 348.98,143.39 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  75% {
    d: path("M138.48,79.24 C221.44,84.18 357.44,-37.20 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  100% {
    d: path("M138.48,79.24 C323.59,122.66 412.75,-7.59 497.40,39.76 L495.71,298.31 L134.53,298.31 Z");
  }
}

@keyframes waveMid {
  25% {
    d: path("M138.48,79.24 C221.44,84.18 357.44,-37.20 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  50% {
    d: path("M133.97,40.75 C333.75,-31.27 348.98,143.39 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  75% {
    d: path("M138.48,79.24 C221.44,84.18 357.44,-37.20 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
  100% {
    d: path("M138.48,79.24 C323.59,122.66 412.75,-7.59 497.40,39.76 L495.71,298.31 L134.53,298.31 Z");
  }
}

#wave_back {
  -webkit-animation: waveBack 5s infinite linear;
          animation: waveBack 5s infinite linear;
  fill-opacity: 1;
}

@-webkit-keyframes waveBack {
  25% {
    d: path("M135.10,65.43 C277.88,11.15 411.62,24.96 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  50% {
    d: path("M135.10,65.43 C286.34,88.13 371.56,-58.91 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  75% {
    d: path("M135.10,65.43 C277.88,11.15 411.62,24.96 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  100% {
    d: path("M132.84,47.66 C333.75,-26.34 403.72,98.98 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
}

@keyframes waveBack {
  25% {
    d: path("M135.10,65.43 C277.88,11.15 411.62,24.96 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  50% {
    d: path("M135.10,65.43 C286.34,88.13 371.56,-58.91 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  75% {
    d: path("M135.10,65.43 C277.88,11.15 411.62,24.96 513.20,90.09 L495.71,298.31 L134.53,298.31 Z");
  }
  100% {
    d: path("M132.84,47.66 C333.75,-26.34 403.72,98.98 506.99,76.28 L495.71,298.31 L134.53,298.31 Z");
  }
}
/*# sourceMappingURL=logo_animation.css.map */